#integration-screen {
    margin-top: 250px;

    & > div {

        & > span {
            display: none;
        }

        & > p {
            color: $gray-110;
            font-family: $header-font;
            font-size: 300px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            text-transform: uppercase;

            overflow: hidden;
            white-space: nowrap;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            pointer-events: none;
        }

        & > div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;

            & > div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px;

                & > p {
                    color: $gray-110;
                    font-family: $header-font;
                    font-size: 300px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%;
                    text-transform: uppercase;

                    white-space: nowrap;
                    overflow: hidden;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;

                    pointer-events: none;
                }

                & > hgroup {
                    width: 550px;
                    position: relative;

                    & > .integration-block {
                        border-radius: 25px;
                        background-color: $white;

                        padding: 50px 40px;

                        display: flex;
                        flex-flow: column nowrap;
                        gap: 15px;

                        h4 {
                            color: $black;
                            font-family: $font;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 90%;
                            letter-spacing: -2px;
                        }

                        p {
                            color: $black;
                            font-family: $font;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%;
                            letter-spacing: -0.32px;
                        }

                        a {
                            @include btn;
                            background-color: $chartreuse;
                            width: 285px;
                            margin-top: 10px;
                        }
                    }

                    & > p {
                        overflow: hidden;
                        position: absolute;
                        left: 100%;
                        left: calc(100% + 40px);
                        top: 0;

                        color: $gray-110;
                        font-family: $header-font;
                        font-size: 300px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%;
                        text-transform: uppercase;

                        pointer-events: none;
                    }
                }
            }
        }
    }
}

@include mobile {
    #integration-screen {
        margin-top: 10px;
        padding: 0 10px;

        & > div {
            background-color: $gray-108;
            border-radius: 25px;
            overflow: hidden;
            padding-top: 30px;

            & > span {
                color: $gray-115;
                font-family: $header-font;
                font-size: 100px;

                text-transform: uppercase;
                position: relative;
                
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                

                & > p {
                    line-height: 80%;
                    white-space: nowrap;
                }
            }

            & > p {
                display: none;
            }

            & > div {
                & > div {
                    margin-top: 30px;

                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    justify-content: center;

                    & > p {
                        display: none;
                    }

                    & > hgroup {
                        width: auto;

                        & > .integration-block {
                            padding: 30px;

                            & > a {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}