@import "./vars.scss";

#hero-screen {
    width: 100%;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 1200px;
    padding: 50px 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;

    & > header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        
        height: 30px;

        #menu {
            display: none;
        }
    }

    & > h1 {
        position: absolute;
        top: -1000px;
    }

    .pad {
        display: none;
    }

    & > main {
        flex-shrink: 1;
        position: relative;

        & > div {
            position: relative;

            & > img {
                height: calc(100vh - 140px);
                max-height: 900px;
                max-width: 95vw;
            }

            & > hgroup {
                position: absolute;
                bottom: 3vh;
                right: 20px;

                display: flex;
                flex-flow: column nowrap;
                gap: 25px;

                h1 {
                    display: none;
                }

                h2 {
                    width: 20vw;
                    min-width: 250px;
                    max-width: 320px;
                    color: $white;
                    font-family: $font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: -0.32px;

                    span {
                        color: $gray-125;
                    }
                }

                .buttons {
                    position: relative;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;

                    .go-to-wallet-btn {
                        @include btn;
                        background-color: $chartreuse;
                        width: 225px;
                    }

                    .github {
                        @include btn;
                        background-color: $orange;

                        transform: rotate(-10deg);

                        position: absolute;
                        left: 200px;
                        bottom: -30px;

                        transition: transform .3s ease-out;
                        padding: 15px;

                        &:hover {
                            transform: none;
                        }

                        img {
                            width: 26px;
                            height: 26px;
                        }
                    }

                    .discord {
                        @include btn;
                        background-color: $blue;

                        transform: rotate(5deg);

                        position: relative;
                        left: 15px;
                        bottom: -10px;

                        transition: transform .3s ease-out;

                        &:hover {
                            transform: none;
                        }

                        padding: 15px;

                        img {
                            width: 26px;
                            height: 26px;
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    #hero-screen {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        padding: 10px;

        width: 100%;
        position: relative;

        header {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            align-self: stretch;
            justify-content: space-between;

            padding: 18px 30px;
            height: 60px;
            
            background-color: $gray-108;
            border-radius: 25px;

            img:not(#menu) {
                height: 24px;
            }

            #menu {
                display: block;
            }
        }

        main {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;

            padding: 30px 30px 60px 30px;
            background-color: $gray-108;
            border-radius: 25px;

            position: relative;
            width: 100%;
            flex-grow: 1;

            & > div {
                width: 100%;
                padding: 0;

                & > img {
                    display: none;
                }

                & > hgroup {
                    display: flex;
                    flex-flow: column nowrap;
                    gap: 15px;
                    padding: 0;

                    position: relative;
                    bottom: auto;
                    right: auto;

                    h1 {
                        display: block;
                        font-family: $header-font;
                        text-transform: uppercase;
                        font-size: 95px;
                        line-height: 80%;
                        color: $white;

                        width: 100%;
                    }

                    h2 {
                        width: 100%;
                    }

                    & > .buttons {
                        align-self: center;

                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        justify-content: center;

                        position: absolute;
                        bottom: -90px;
                        width: 100%;

                        & > .go-to-wallet-btn {
                            flex-grow: 1;
                            min-width: 220px;
                        }

                        & > a {
                            position: relative !important;
                            left: auto !important;
                            right: auto !important;
                            bottom: auto !important;
                            top: auto !important;

                            transform: none !important;
                        }
                    }
                }
            }
        }

        .pad {
            display: block;
            height: 30px;
            width: 100%;
        }
    }

    #overlay-nav {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 10px;

        & > .wrapper {
            background-color: $gray-108;
            border-radius: 25px;

            position: relative;
            width: 100%;
            height: 100%;

            display: flex;
            flex-flow: column nowrap;
            gap: 20px;

            & > .header {
                display: flex;
                padding: 18px 30px;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;

                img:not(#close-menu) {
                    height: 24px;
                }

                #close-menu {
                    pointer-events: all;
                }
            }

            & > .content {
                flex-grow: 1;

                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;

                padding: 0 30px 30px 30px;

                ul {
                    color: $white;
                    font-family: $font;
                    font-weight: 600;
                    font-size: 24px;
                    letter-spacing: -5%;
                    line-height: 90%;

                    display: flex;
                    flex-flow: column nowrap;
                    gap: 40px;

                    a {
                        color: $white !important;
                    }
                }

                & > .btn-wrapper {
                    display: flex;
                    flex-flow: column;
                    gap: 20px;

                    & > a {
                        @include btn();
    
                        &:nth-of-type(1) {
                            background-color: $dark-blue;

                            & > span {
                                color: white;
                            }
                        }
    
                        &:nth-of-type(2) {
                            background-color: $chartreuse;
                        }
                    }
                }
            }
        }
    }
}